@media screen and (min-width: 850px) {
  .main-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "a a b"
      "c c b";
    gap: 2rem;
  }

  h1 {
    margin-bottom: 0;
  }

  .main-article {
    grid-area: a;
    row-gap: 0;
  }

  .articles-new {
    grid-area: b;
    margin-bottom: 0;
  }

  .main-article__text-con {
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    align-self: end;
  }

  #main-article__text-con-btn {
    margin-bottom: 0;
  }
  .articles {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 849px) {
  .nav__menu {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 100%;
    background-color: $clr-Off-white;
    padding: 15rem 2rem;
    transition: all 0.5s ease-in;

    ul {
      li {
        display: flex;
        flex-direction: row;

        a {
          margin-left: 0;
          margin-bottom: 2.5rem;
          color: $clr-Very-dark-blue;
        }
      }
    }
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 3rem;
    aspect-ratio: 1;
    top: 3.5rem;
    right: 2rem;
    font-size: 0.5rem;
    padding: 0;
    background: url(../assets/images/icon-menu.svg) no-repeat;
    border: none;

    cursor: pointer;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url(../assets/images/icon-menu-close.svg);
  }

  .nav__menu[data-visible="true"] {
    inset: 0 0 0 30%;
  }
}
